{% extends 'base.html' %}

{% block content %}
<h1 class="title is-size-1">{{habit.name}}</h1>
<section class="section habit-detail">
  <ul>
  {% for record in habit.records.all %}
    <li>{{record.result }} on {{record.date}}</li>
  {% empty %}
    <li class="is-size-4 has-text-info has-text-weight-bold">No daily records yet!</li>
  {% endfor %}
</ul>
</section>
<div class="block section">
  <a href={% url 'habit_daily_record' habit_pk=habit.pk %} class="button is-link">Record results for this habit</a>
</div>
{% endblock content %}
